.slider-background{
    position: relative;
        
    background-image: url('../images/slider5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    height: 600px;

    &::after {
        content:"";
        position: absolute;
        background-color: #111439;
        opacity: 0.3;
        width:100%;
        height: 600px;
    }
}

.display-center {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}