{% extends 'base.html.twig' %}

{% block body %}
    <div class="bg-light py-5">
        <div class="container text-start px-5">
            <div>
                <h3 class="text-primary">Contact us:</h3>
            </div>
            <div class="card bg-dark my-4 p-5" style="border-radius:25px;">
                <form>
                    <div class="mb-3 row">
                        <div class="col-lg-3 col-sm-12 mb-2">
                            <label for="titleInput" class="form-label text-light">Title</label>
                        </div>
                        <div class="col-lg-9 col-sm-12 mb-2">
                            <input type="text" class="form-control" id="titleInput" placeholder="title">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col-lg-3 col-sm-12 mb-2">
                            <label for="emailInput" class="form-label text-light">Email</label>
                        </div>
                        <div class="col-lg-9 col-sm-12 mb-2">
                            <input type="email" class="form-control" id="emailInput" placeholder="email">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-lg-3 col-sm-12 mb-2">
                            <label for="descInput" class="form-label text-light">Description</label>
                        </div>
                        <div class="col-lg-9 col-sm-12 mb-2">
                            <textarea class="form-control"  id="descInput" aria-label="Description" placeholder="description" style="height:100px"></textarea>
                                
                        </div>
                    </div>
                    <div class="mb-3 row justify-content-end">
                        <div class="col-lg-1 col-sm-12 mb-2 text-center">
                            <button type="submit" class="btn btn-primary">Envoyer</button>
                        </div>
                    </div>
                        
                </form>
            </div>
            
        </div>
    </div>
{% endblock %}