{% extends 'base.html.twig' %}

{% block body %}

    <div class="container text-center my-4">
        <div class="mb-4">
            <h3 class="text-primary">Les habitats terrestres</h3>
        </div>
        <div class="p-5 text-start my-4 bg-light text-start my-4" style="border-radius:25px;">
            <p style="color:#666;">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book
            </p>    
        </div>
        
    </div>

    <div class="bg-light text-center mt-5 py-5">
            <div >
                <h3 class="text-primary">Les animaux de cette habitats</h3>
            </div>

            <div class="container my-4">
                <div class="row justify-content-evenly">
                    <div class="col-lg-3 col-sm-5 my-4">
                        <a href="/habitats_details">
                            <img class="rounded-circle shadow-5-strong image-size mb-2" alt="avatar2" src="images/habitats-2.jpg" />
                            <h6>animal</h6>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-5 my-4">
                        <img class="rounded-circle shadow-5-strong image-size mb-2" alt="avatar2" src="images/habitats-3.jpg" />
                        <h6>animal</h6>
                    </div>
                    <div class="col-lg-3 col-sm-5 my-4">
                        <img class="rounded-circle shadow-5-strong image-size mb-2" alt="avatar2" src="images/habitats-4.jpg" />
                        <h6>animal</h6>
                    </div>
                    <div class="col-lg-3 col-sm-5 my-4">
                        <img class="rounded-circle shadow-5-strong image-size mb-2" alt="avatar2" src="images/habitats-4.jpg" />
                        <h6>animal</h6>
                    </div>
                        
                </div>
                <div class="row justify-content-evenly">
                    <div class="col-lg-3 col-sm-5 my-4">
                        <img class="rounded-circle shadow-5-strong image-size mb-2" alt="avatar2" src="images/habitats-1.jpg" />
                        <h6>animal</h6>
                    </div>
                    <div class="col-lg-3 col-sm-5 my-4">
                        <img class="rounded-circle shadow-5-strong image-size mb-2" alt="avatar2" src="images/habitats-2.jpg" />
                        <h6>animal</h6>
                    </div>
                    <div class="col-lg-3 col-sm-5 my-4">
                        <img class="rounded-circle shadow-5-strong image-size mb-2" alt="avatar2" src="images/habitats-3.jpg" />
                        <h6>animal</h6>
                    </div>
                    <div class="col-lg-3 col-sm-5 my-4">
                        <img class="rounded-circle shadow-5-strong image-size mb-2" alt="avatar2" src="images/habitats-4.jpg" />
                        <h6>animal</h6>
                    </div>
                        
                </div>
                <div class="row justify-content-evenly">
                    <div class="col-lg-3 col-sm-5 my-4">
                        <img class="rounded-circle shadow-5-strong image-size mb-2" alt="avatar2" src="images/habitats-1.jpg" />
                        <h6>animal</h6>
                    </div>
                    <div class="col-lg-3 col-sm-5 my-4">
                        <img class="rounded-circle shadow-5-strong image-size mb-2" alt="avatar2" src="images/habitats-2.jpg" />
                        <h6>animal</h6>
                    </div>
                    <div class="col-lg-3 col-sm-5 my-4">
                        <img class="rounded-circle shadow-5-strong image-size mb-2" alt="avatar2" src="images/habitats-3.jpg" />
                        <h6>animal</h6>
                    </div>
                    <div class="col-lg-3 col-sm-5 my-4">
                        <img class="rounded-circle shadow-5-strong image-size mb-2" alt="avatar2" src="images/habitats-4.jpg" />
                        <h6>animal</h6>
                    </div>
                        
                </div>
            </div>
        </div>
{% endblock %}
