{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin-dashboard-style.css') }}">
{% endblock %}

{% block body %}
<div class="container text-start px-5 py-5">
    <h1 class="text-primary">Liste des utilisateurs</h1>

    <table class="table">
        <thead class="text-primary">
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Rôles</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles | join(', ') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
